.about {
	display: flex;
	justify-content: space-around;
}

.about > div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutItem {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(243, 241, 221, 0.5);
	border: 1px solid rgb(76, 250, 254);
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgb(1, 10, 30);
}

.aboutItem.bref {
	width: 47%;
	height: fit-content;
	padding: 30px;
}

@media screen and (max-width: 770px) {
	.aboutItem {
		width: 90%;
	}
	.aboutItem.bref {
		width: 70%;
		padding: 5px;
	}
}

@media screen and (max-width: 600px) {
	.about {
		flex-direction: column;
	}
	.about > div {
		width: 100%;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}
