#contact .sectionTitle {
	padding-bottom: 150px;
}

.contactLinksContainer {
	display: flex;
	justify-content: space-around;
	margin-top: -5vw;
}

.contactLink {
	display: block;
	padding: 10px;
	color: rgba(240, 230, 140, 0.8);
	font-size: 2.5vw;
}

.contactLink :nth-child(1) {
	margin-bottom: -0.5vw;
}
/* 
#contactForm {
  width: 80%;
  margin: 10vh auto;
  padding: 10vh 0;
  background-color: rgba(243, 241, 221, 0.5);
  box-shadow: 2px 2px 5px rgb(1, 10, 30);
  border-radius: 10px;
  position: relative;
}

.inputsContainer {
  display: flex;
  justify-content: space-around;
}

.inputDiv {
  width: 40%;
}
.messageDiv {
  width: 90%;
  margin: auto;
}

#contactForm input {
  background-color: inherit;
  border: none;
  border-bottom: 2px solid rgb(1, 10, 30);
  width: 100%;
  margin: 20px;
}

#contactSubmit {
  background-color: rgb(1, 10, 30);
  color: rgba(240, 230, 140, 0.8);
  padding: 7px 3vw;
  border-radius: 10px;
  margin-top: 5vh;
}

#submitRes {
  font-size: larger;
  position: absolute;
  bottom: 4vh;
  left: 50%;
  transform: translate(-50%);
}

.required {
  position: relative;
}
.iconRequired {
  color: rgba(255, 0, 0, 0.534);
  position: absolute;
  left: 0;
  bottom: 3vh;
}

.error {
  border-bottom: 2px solid rgba(255, 0, 0, 0.534);
} */
